* {
    color: white;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: orange;
    text-decoration: none;
}

#links li {
    margin-right: 30px;
}

@media (min-width: 414px) {
    body {
        padding-top: 100px;
    }
}

@media (max-width: 414px) {
    body {
        padding-top: 20px;
    }
    .display-4 {
        font-size: 2rem;
    }
}
